/*
position : static (padr칚o - N칚o aceitas valores de top , right e left
positon : fixed - fixa o elemento na tela 
position : sticky - age como um adesivo , fixa o elemento s칩 onde eu determinar 
position: absolute- posi칞칚o absoluta ( fixa) a algum elemento ou a pagina 
                - Se n칚o tiver pai / pai for static=  Posiciona referente ao pagina 
                Se o pai n칚o for static - \Posiciona referente ao pai 

                propriedades 
                top 
                botton 
                left
                right
                */

/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 200vh;
    width: 200vw;


}
.div-dad{
    height: 350px;
    width: 350px;
    background-color: red;

}
.div-son{
    height: 150px;
    width: 150px;
    background-color: yellow;
    
}
.pai{
    height: 150px;
    width: 150px;
    background-color: blue;
}*/
input::placeholder{
    color: red;

}
/*p::first-letter{ seleciona s칩 a primeira letra
color: red;
}*/
p::first-line{
color: red;
}

/*PSEUDO ELEMENTOS*/
a{
    color: blue;
    text-decoration: none;
}
a::after{/*depois do link */
    content:"游 ";
}
a::before{
    content:"游 ";/*antes do link*/
}
img{
    width: 500px;
}
/*PSEUDO CLASSES

:Ative= quando um elemento est치 ativo, ou seja, est치 sendo pressionado
:visited = seleciona o link que foi visitado
:hover = quando o mouse passa em cima do elemento
:checked = usado em radio / checkbox/ select
:disabled= elemento disabilitado/button/ input
:enable= elemento est치 abilitado 
*/
a{
    color: blue;
}
a:visited{
    color: red;

}